//- label(str) - заголовок
    placeholder(str)
    items[] - массив строк - элементов списка

    Пример вызова: +dropdown({placeholder: 'Выберите удобства', label: 'dropdown', items: ['спальни', 'кровати']})

mixin dropdown({ label, items, placeholder })
  .dropdown
    label.dropdown__label= label
      .dropdown__field-wrapper
        input(class="dropdown__top",
              type="text",
              placeholder= placeholder,
              readonly)
        .dropdown__arrow &#xe901
      .dropdown__menu.hidden
        ul.dropdown__items
          each item in items
            li.dropdown__item
              .dropdown__element= item
              .dropdown__quantity
                div.dropdown__control.dropdown__control_minus.dropdown__control_disabled -
                span.dropdown__score 0
                div.dropdown__control.dropdown__control_plus +

