.dropdown {
  width: 266px;
  &__label {
    position: relative;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: $shade-100;
    cursor: pointer;
  }

  &__top {
    margin-top: 5px;
    padding-left: 15px;
    padding-right: 30px;
    width: 266px;
    height: 44px;
    border-width: 1px;
    border-style: solid;
    border-color: $shade-25;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 44px;
    color: $shade-75;
    cursor: pointer;
    outline: none;
    &:hover,
    &:focus {
      border-color: $shade-50;
    }
  }

  &__menu {
    position: absolute;
    top: 64px;
    left: 0;
    padding-top: 13px;
    padding-right: 7px;
    padding-bottom: 17px;
    padding-left: 15px; 
    width: 266px;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-color: $shade-50;
    border-top: none;
    background: #ffffff;
    z-index: 1;
  }

  &__arrow {
    position: absolute;
    bottom: 2px;
    right: 10px;
    font-family: icomoon;
    font-weight: 400;
    font-size: 24px;
    color: $shade-75;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.hidden {
  display: none;
}