//- options.type(str) - принимает значение filter(опционально). Создает дропдаун с диапозоном дат
    options.label(str) - заголовок дропдауна
    options.name - атрибут name поля input

mixin dropdown-date(options)
  - const blockClassName = options.type === "filter" ? "dropdown-date dropdown-date_filter" : "dropdown-date"
  - const inputClassName = options.type === "filter" ? "dropdown-date__field dropdown-date__field_filter" : "dropdown-date__field"
  
  div(class= blockClassName)
    label.dropdown-date__label= options.label
      input(class= inputClassName type="text" name= options.name placeholder="ДД.ММ.ГГГГ" readonly)
