.input {
  display: flex;
  flex-direction: column;
  width: 320px;  
  &_button {
    width: 267px;
  }

  &__field {
    margin-top: 5px;
    width: 100%;
    height: 44px;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid $shade-25;
    border-radius: 4px;
  
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    &::placeholder {
      color: $shade-25;
    }
    &:hover,
    &:focus {
      border-color: $shade-50;
      outline: none;
      &::placeholder {
        color: $shade-75;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    position: relative;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $shade-100;

    &_radio,
    &_checkbox {
      padding-left: 25px;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: $shade-50;
      cursor: pointer;
    }
  }

  &__button {
    position: absolute;
    top: 29px;
    right: 10px;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    font-family: icomoon;
    font-size: 24px;
    color: $main;
    background: $gradient-main;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }

  &__radio,
  &__checkbox {
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: absolute;
    top: 3px;
    left: -5px;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: $shade-25;
    &::after,
    &::before {
      content: "";
      position: absolute;
      display: none;
    }

    &_radio {
      border-radius: 10px;
      &::after {
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        background: $gradient-main;
        border-radius: 10px;  
      }
    }

    &_checkbox {
      border-radius: 4px;
      &::before {
        top: 7px;
        left: 5px;
        width: 2px;
        height: 6px;
        background: $gradient-main;
        transform: rotate(-45deg);
      }
      &::after {
        top: 5px;
        left: 9px;
        width: 2px;
        height: 8px;
        background: $gradient-main;
        transform: rotate(45deg);
      }
    }
  }

  &__radio:checked {
    &~ .input__checkmark_radio {
      border-color: $main;
    }
    &~ .input__checkmark::after {
      display: block;
    }
    &+ .input__inner {
      color: $shade-75;
    }
  }

  &__checkbox:checked {
    &~ .input__checkmark_checkbox {
      border-color: $main;
    }
    &~ .input__checkmark_checkbox::after,
    &~ .input__checkmark_checkbox::before{
      display: block;
    }
  }
}
  