@import '~/scss/utils/vars';
@import '~/scss/utils/mixins';

.sign-in {
  @include card;
  position: relative;
  z-index: 1;
  min-height: 358px;
  background-color: #fff;

  &__title {
    @include card-title;
  }

  &__form {
    margin-bottom: 30px;
  }

  &__fields {
    margin-bottom: 20px;
    .input:first-child {
      margin-bottom: 10px;
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-text {
      padding-top: 12px;

      @media (max-width: 420px) {
        font-size: 1.1em;
        padding-top: 15px;
      }
    }
    
    &-button {
      @include bordered-button;
      @media (max-width: 350px) {
        max-width: 90px;
      }
    }
  }

  &__button {
    @include big-button;
  }
}