//- link(string) - ссылка для кнопки "создать". Если указан параметр то создается тег a(anchor),
                   если параметр не указан, то создается button

include ../input/input
include ../button/button

mixin sign-in(link)

  if !link
    - link = ''

  .sign-in
    h2.sign-in__title Войти
    form(class="sign-in__form" action="blank.link" method="post")
      .sign-in__fields
        +input({type: "email", name: "email", placeholder: "Email", required: "required"})
        +input({type: "password", name: "password", placeholder: "Пароль", required: "required"})
      .sign-in__button
        +button({type: "submit", style: "big", text: "войти"})
    
    .sign-in__footer
      span.sign-in__footer-text Нет аккаунта на Toxin?
      .sign-in__footer-button
        +button({href: link, type: 'button', style: "bordered", text: "создать"})
