
include ../rooms-card/rooms-card

mixin landing
  .landing
    .landing__container
      .landing__card
        +rooms-card
      
      .landing__description
        p.landing__text
          | Лучшие номера для вашей работы, отдыха и просто вдохновения
