
include ../rooms-card/rooms-card

mixin landing
  section.landing
    .landing__container
      h1.visually-hidden Поиск номеров
      
      .landing__card
        +rooms-card
      
      .landing__description
        p.landing__text
          | Лучшие номера для вашей работы, отдыха и просто вдохновения
