@import '~/scss/utils/mixins';
@import '~/scss/utils/vars';

.landing {
  flex: 1 0 auto;
  min-width: 320px;
  padding-top: 5em;
  padding-bottom: 18px;
  height: 830px;
  background: url('../img/landing-background.jpg') center center/ cover no-repeat;

  @media (max-width: 992px) {
    font-size: 9px;
  }

  @media (max-width: 576px) {
    font-size: 6px;
  }

  &__container {
    @include container;
    height: 100%;
    flex-direction: column;
  }

  &__description {
    margin-top: auto;
    max-width: 297px;
    align-self: flex-end;
  }

  &__text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.714em;
    text-align: right;
    color: $shade-75;
  }
}