@import '../../scss/utils/vars';

.button {
  display: block;
  margin: 0;
  padding: 0;

  width: 99px;
  height: 44px;
  border: none;
  border-radius: 22px;

  font-weight: 700;
  font-size: 12px;
  line-height: 44px;
  text-transform: uppercase;
  background: $gradient-main;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  &:hover,
  &:focus {
    cursor: pointer;
    outline: none;
  }

  &_default {
    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }

  &__border {
    position: relative;
    width: 99px;
    height: 44px;
    border-radius: 22px;
    background: $gradient-main;
    z-index: 0;
    &:hover {
      background: rgba(188,156,255,.5);
    }
  }

  &_bordered {
    position: absolute;
    top: 0;
    margin: 2px;
    width: 95px;
    height: 40px;
    background: #FFFFFF;
    color: $main;
    line-height: 40px;
    z-index: 3;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   margin: -2px;
    //   border-radius: 22px;
    //   background: $gradient-main;
    //   z-index: -1;
    // }
    // &:hover,
    // &:focus {
    //   &::before {
    //     opacity: 0.5;
    //   }
    // }
  }

  &_ghost {
    width: 61px;
    height: 15px;
    background: transparent;
    color: $main;

    &:hover,
    &:focus {
      color: $shade-50;
    }
  }

  &_big {
    position: relative;
    width: 320px;
    text-align: center;
    &:hover,
    &:focus {
      opacity: 0.5;
    }
    &::after {
      position: absolute;
      font-family: 'icomoon';
      content: "\e909";
      right: 13px;
      font-size: 20px;
      font-weight: 400;
    }
  }
}