@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  src: url('/assets/fonts/Quicksand/Quicksand-Bold.woff') format('woff'),
      url('/assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype'),
      url('/assets/fonts/Quicksand/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  font-display: swap;
  src: url('/assets/fonts/Quicksand/Quicksand-Regular.woff') format('woff'),
      url('/assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype'),
      url('/assets/fonts/Quicksand/Quicksand-Regular.svg#Quicksand-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
      url('/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
      url('/assets/fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url('/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
      url('/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'),
      url('/assets/fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url('/assets/fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
      url('/assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
      url('/assets/fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src:url('/assets/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
      url('/assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
      url('/assets/fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
