//colors
$dshade-100: #1F2041;
$dshade-75: rgba(31, 32, 65, 0.75);
$dshade-50: rgba(31, 32, 65, 0.5);
$dshade-25: rgba(31, 32, 65, 0.25);
$dshade-5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;