//colors
$main: #BC9CFF;
$secondary: #6FCF97;
$shade-100: #1F2041;
$shade-75: rgba(31, 32, 65, 0.75);
$shade-50: rgba(31, 32, 65, 0.5);
$shade-25: rgba(31, 32, 65, 0.25);
$shade-5: rgba(31, 32, 65, 0.05);
$gradient-main: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
