@import '~/scss/utils/vars';

.diagram {
  font-size: 14px;

  @media (max-width: 576px) {
    font-size: 12px;
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    padding-left: 18px;

    font-family: $quicksand;
    font-weight: 700;
    font-size: 1.357em;
    line-height: 1.263em;
    color: $shade-100;
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    width: 10.929em;
  }

  &__caption {
    transform: translateY(10%);
    font-weight: 700;
  }

  &__counter {
    font-family: $quicksand;
    font-size: 0.44em;
    fill: $main;
  }

  &__text {
    font-family: $montserrat;
    font-size: 0.29em;
    fill: $main;
    transform: translateY(5px);
  }


  &__legend {
    margin: 0;
    padding: 0;

    margin-top: 2em;
    margin-left: 1.071em;
    padding-left: 1.071em;
    max-width: 11.5em;

    font-family: $montserrat;
    font-weight: 400;
    // font-size: 14px;
    line-height: 1.714em;
    color: $shade-75;

    list-style: none;
  }


  &__legend-item {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 0.714em;
      height: 0.714em;
      top: 0.5em;
      left: -1.071em;

      border-radius: 50%;
    }

    &:nth-of-type(1)::before {
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }

    &:nth-of-type(2)::before {
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    }

    &:nth-of-type(3)::before {
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    }

    &:nth-of-type(4)::before {
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
  }

}