//- options.title - заголовок слайдера

mixin range-slider(options)
  .range-slider
    .range-slider__label
      span.range-slider__title= options.title
      span.range-slider__range
    div(class="range-slider__slider" id="range1")
