//- label(str) - заголовок слайдера

mixin range-slider(label)
  .range-slider
    .range-slider__label
      span.range-slider__title= label
      span.range-slider__range
    div(class="range-slider__slider")
