mixin uikit-color(title, color, mod)
  //- элемент списка .color, создаёт карточку цвета в ui kit
  li.color__item
    if mod
      div.color__image(class="color__image_"+ mod)
    else
      div.color__image
    .color__content
      p.color__title= title
      p.color__descr= color
