//- options.src(string) - ссылка на картинку
    options.name(string) - имя автора комментария
    options.time(string) - текст времени создания комментария. Пример: "5 дней назад"
    options.text(string) - текст комментария
    options.like(object) - объект, принимает данные для кнопки лайка(count - количество лайков, checked - нажатая по умолчанию)
    options.datetime(string) - datetime атрибут. Принимает строку формата "2019-12-16 20:00"

include ../like-button/like-button

mixin comment(options)
  -const {like} = options

  .comment
    .comment__header
      img(src= options.src class="comment__avatar" width="48" height="48" alt="Фото автора")
      .comment__top
        p.comment__title= options.name
        time(class="comment__time" datetime= options.datetime)= options.time 
    .comment__content
      .comment__like.like-button
        +like-button({count: like.count, checked: like.checked})
      p(class="comment__text")= options.text
        
