@import '~/scss/utils/vars';

.comment {
  max-width: 724px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8em;
  color: $shade-75;

  @media (max-width: 576px) {
    font-size: 12px;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.6em;
  }

  &__avatar {
    margin-right: 0.65em;
    width: 48px;
    height: 48px;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
  }

  &__content {
    display: flex;
  }

  &__like {
    padding-top: 0.214em;
    padding-left: 0.357em;
    margin-right: 0.857em;
  }

  &__text {
    margin: 0;
    padding: 0;
    max-width: 662px;
  }
}