//- options.icon(str) - иконка. Возможные опции smile, city, fire
    options.title(str) - заголовок
    options.descr(str) - описание

mixin feature(options)
  - let mod = options.icon ? " feature__icon_" + options.icon : ''

  .feature
    span(class="feature__icon" + mod)
    .feature__text
      p.feature__title= options.title
      p.feature__description= options.descr