include ../../components/uikit-header/uikit-header.pug
include ../../components/uikit-color/uikit-color.pug
include ../../components/uikit-types/uikit-types.pug
include ../../components/input/input.pug
include ../../components/dropdown/dropdown.pug
include ../../components/button/button.pug
include ../../components/rate-button/rate-button.pug
include ../../components/like-button/like-button.pug
include ../../components/toggle/toggle.pug
include ../../components/feature/feature.pug
include ../../components/list/list.pug
include ../../components/range-slider/range-slider.pug
include ../../components/pagination/pagination.pug
include ../../components/comment/comment.pug
include ../../components/checkbox-list/checkbox-list.pug
include ../../components/dropdown-date/dropdown-date.pug
include ../../components/dropdown-guests/dropdown-guests.pug
include ../../components/rooms-card/rooms-card.pug
include ../../components/sign-up/sign-up.pug
include ../../components/sign-in/sign-in.pug
include ../../components/booking-card/booking-card.pug
include ../../components/room-header/room-header.pug
include ../../components/room-preview/room-preview.pug
include ../../components/calendar/calendar.pug
include ../../components/header/header.pug
include ../../components/footer/footer.pug