extends ../templates/uikit-main.pug
include ../mixins/uikit.pug

block content
  

  section.colors-type
    .container
      +uikit-header

      .colors-type__container
        .colors-type__colors
          ul.color
            +uikit-color("Dark Shade 100%", "#1F2041", "dshade-100")
            +uikit-color("Dark Shade 75%", "#1F2041", "dshade-75")
            +uikit-color("Dark Shade 50%", "#1F2041", "dshade-50")
            +uikit-color("Dark Shade 25%", "#1F2041", "dshade-25")
            +uikit-color("Dark Shade 5%", "#1F2041", "dshade-5")
            +uikit-color("Purple", "#BC9CFF", "purple")
            +uikit-color("Green", "#6FCF97", "green")

        .colors-type__types
          ul.types
            +uikit-types("H1", "This one is the sub-section or widget title", "big-title")
            +uikit-types("H2", "Next one is the item title inside widgets", "middle-title")
            +uikit-types("H3", "This is a label or CTA text", "small-title")
            +uikit-types("Body", "This is the body text which is used for most of the design, like paragraphs, lists, etc.", "main-text")

  section.form-elements
    .container
      .form-elements__header
        +uikit-header
      
      .form-elements__inner
        .form-elements__row.form-elements__row_top
          .form-elements__fields
            .form-elements__field
              +input({type: "email", name: "email", placeholder: "Email", label: "text field", required: "required"})
            
            .form-elements__field
              +input({type: "text", name: "text", placeholder: "This is pretty awesome", label:"text field"})
            
            .form-elements__field
              +dropdown-guests({label: "dropdown"})
            
            .form-elements__field         
              +input({type: "text", name: "date", placeholder: "ДД.ММ.ГГГГ", label: "masked text field"})
            
            .form-elements__field.form-elements__field_dropdowns
              +dropdown-date({label: "date Dropdown", name: "dropdown-date1", placeholder: "ДД.ММ.ГГГГ"})
              +dropdown-date({label: "date Dropdown", name: "dropdown-date2", placeholder: "ДД.ММ.ГГГГ"})
            
            .form-elements__field
              +dropdown-date({type: "filter", label: "filter date dropdown", name: "dropdown-date", placeholder: "19 авг - 23 авг"})
            
            .form-elements__field
              +input({type: "email", name: "email", placeholder: "Email", label: "subscription text field", isButton: true})


          .form-elements__toggle-elements
            .form-elements__checkboxes
              h3.form-elements__checkboxes-legend Checkbox Buttons

              .form-elements__checkbox
                +input({type: "checkbox", text: "Можно курить", name: "smoke"})
              
              .form-elements__checkbox
                +input({type: "checkbox", text: "Можно с питомцами", name: "pets", checked: "checked"})
              
              .form-elements__checkbox
                +input({type: "checkbox", text: "Можно пригласить гостей (до 10 человек)", name: "guests", checked: "checked"})

            
            .form-elements__radio-buttons
              h3.form-elements__radio-buttons-legend Radio Buttons

              .form-elements__radio-buttons-wrapper
                .form-elements__radio-button
                  +input({type: "radio", text: "Мужчина", name: "sex-male", checked: "checked"})
                
                .form-elements__radio-button
                  +input({type: "radio", text: "Женщина", name: "sex-female"})


            .form-elements__toggles
              h3.form-elements__toggles-legend toggle

              .form-elements__toggle
                +toggle({text: "Получать спецпредложения", checked: "checked"})
              
              .form-elements__toggle
                +toggle({text: "Получать спецпредложения"})
            

            .form-elements__likes
              h3.form-elements__likes-label like button

              .form-elements__likes-wrapper
                +like-button({count: 2})
                +like-button({count: 12, checked: "checked"})


            .form-elements__rates
              h3.form-elements__rates-label rate button

              .form-elements__rates-wrapper
                +rate-button(4)
                +rate-button(5)


          .form-elements__buttons-block
          
            .form-elements__range-slider
              +range-slider({title: "range slider"})
            

            .form-elements__buttons
              p.form-elements__buttons-label buttons

              .form-elements__button
                +button({style: "default", text: "click me"})
              
              .form-elements__button
                +button({style: "bordered", text: "click me", type: "reset"})
              
              .form-elements__button
                +button({style: "ghost", text: "click me"})
              
              .form-elements__button
                +button({style: "big", text: "перейти к оплате", type: "submit"})


            .form-elements__pagination
              p.form-elements__pagination-label pagination

              +pagination([
                'blank.link', 
                'blank.link', 
                'blank.link', 
                'blank.link', 
                'blank.link', 
                'blank.link', 
                'blank.link', 
                'blank.link',
                'blank.link', 
                'blank.link', 
                'blank.link', 
                'blank.link', 
                'blank.link', 
                'blank.link', 
                'blank.link',
              ])


        
        .form-elements__row.form-elements__row_middle
          .form-elements__row-dropdowns
            .form-elements__dropdown-rooms
              +dropdown({label: 'dropdown', items: ['спальни', 'кровати', 'ванные комнаты']})
            .form-elements__dropdown-guests
              +dropdown-guests({label: "dropdown"})


          .form-elements__lists
            .form-elements__checkbox-list
              .form-elements__expandable-checkbox
                +checkbox-list({
                  title: "expandable checkbox list",
                  items: [
                    {text:"Завтрак"}, 
                    {text:"Письменный стол", checked: "checked"}, 
                    {text:"Стул для кормления", checked: "checked"},
                    {text:"Кроватка", checked: "checked"},
                    {text:"Телевизор"},
                    {text:"Шампунь"},
                    {text:"Телевизор"},
                    {text:"Шампунь"}
                  ]
                })

              .form-elements__expandable-checkbox 
                +checkbox-list({
                  title: "expandable checkbox list",
                  items: [
                    {text:"Завтрак"}, 
                    {text:"Письменный стол", checked: "checked"}, 
                    {text:"Стул для кормления", checked: "checked"},
                    {text:"Кроватка", checked: "checked"},
                    {text:"Телевизор"},
                    {text:"Шампунь"},
                    {text:"Телевизор"},
                    {text:"Шампунь"}
                  ]
                }) 

            .form-elements__rich-checkboxes
              p.form-elements__rich-checkboxes-label Rich Checkbox Buttons
              .form-elements__rich-checkbox
                +input({type: "checkbox", style: "rich", label: "Широкий коридор", text: "Ширина коридоров в номере не менее 91 см.", name: "check it thrice"})
              .form-elements__rich-checkbox
                +input({type: "checkbox", style: "rich", label: "Помощник для инвалидов", text: "На 1 этаже вас встретит специалист и проводит до номера.", name: "check it thrice"})

            .form-elements__bullet-list
              +list({
                title: "bullet list",
                items: [
                  'Нельзя с питомцами',
                  'Без вечеринок и мероприятий',
                  'Время прибытия — после 13:00, а выезд до 12:00'
                ]
              })



        .form-elements__row.form-elements__row_bottom
          .form-elements__features
            .form-elements__feature
              +feature({icon: "smile", title: "Комфорт", descr: "Шумопоглощающие стены"})
            .form-elements__feature
              +feature({icon: "city", title: "Удобство", descr: "Окно в каждой из спален"})

          .form-elements__comment 
            +comment({src: "assets/img/avatar-murad.jpg", time: "5 дней назад", name: 'Мурад Сарафанов', like: {count: "12", checked: "checked"}, text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})


  section.cards
    .container
      
      .cards__header
        +uikit-header
      
      .cards__container
        .cards__col.cards__col-1
          .cards__item
            +rooms-card
          .cards__item
            +registration-card

        .cards__col.cards__col-2
          .cards__item
            +booking-card({number: "888", isLuxe: true, price: "9 990"})
          .cards__item
            +sign-in
      
        .cards__col.cards__col-3
          .cards__item
            +calendar

          .cards__room-preview
            +room-preview({
              number: "888", 
              isLuxe: true, 
              price: "9 990", 
              rate: 5, 
              feedbacks: 145, 
              slides: [
                {src: "assets/img/top-slide.jpg", alt: "общий вид комнаты"},
                {src: "assets/img/top-slide.jpg", alt: "общий вид комнаты"},
                {src: "assets/img/top-slide.jpg", alt: "общий вид комнаты"},
                {src: "assets/img/top-slide.jpg", alt: "общий вид комнаты"}
              ]
            })
            +room-preview({
              number: "840", 
              price: "9 900", 
              rate: 4, 
              feedbacks: 65,
              slides: [
                {src: "assets/img/bottom-slide.jpg", alt: "Общий вид комнаты"},
                {src: "assets/img/bottom-slide.jpg", alt: "Общий вид комнаты"},
                {src: "assets/img/bottom-slide.jpg", alt: "Общий вид комнаты"},
                {src: "assets/img/bottom-slide.jpg", alt: "Общий вид комнаты"},
              ]
            })



  section.headers
    .container
      .headers__header 
        img.uikit-header__logo(src="assets/img/uikit-logo.svg", width="48" height="48" alt="uikit logo")
      
    .headers__item
      +header({
        isUikit: true,
        items: [
          {href: "blank.link", text: "home"},
          {href: "blank.link", text: "about us"},
          {text: "services", isDropdown: true},
          {href: "blank.link", text: "careers"},
          {href: "blank.link", text: "news"},
          {href: "blank.link", text: "documentation"},
        ]
      })

    .headers__item
      +header({
        isUikit: true,
        isLogin: true,
        user: {
          name: "Cosmin Negoita",
          href: "blank.link"
        },
        items: [
          {href: "blank.link", text: "home"},
          {href: "blank.link", text: "about us"},
          {isDropdown: true, text: "services"},
          {href: "blank.link", text: "careers"},
          {href: "blank.link", text: "news"},
          {href: "blank.link", text: "documentation"},
        ]
      })

    //- .headers__item
        +header({
          signin: "войти",
          signup: "зарегистрироваться",
          items: [
            {href: "blank.link", text: "О нас"},
            {text: "Услуги", isDropdown: true},
            {href: "blank.link", text: "Вакансии"},
            {href: "blank.link", text: "Новости"},
            {isDropdown: true, text: "Соглашения"},
          ]
        })

    .headers__item
      +footer({
        description: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
        blocks: [
          {
            title: 'navigation',
            items: [
              {href: 'blank.link', text: 'About Us'},
              {href: 'blank.link', text: 'News'},
              {href: 'blank.link', text: 'Support'},
              {href: 'blank.link', text: 'Products'},
            ]
          },
          {
            title: 'about us',
            items: [
              {href: 'blank.link', text: 'Who we are'},
              {href: 'blank.link', text: 'Our team'},
              {href: 'blank.link', text: 'Careers'},
              {href: 'blank.link', text: 'Investors'},
            ]
          },
          {
            title: 'support',
            items: [
              {href: 'blank.link', text: 'Documentation'},
              {href: 'blank.link', text: 'Community'},
              {href: 'blank.link', text: 'Get in Touch'},
            ]
          }
        ],

        subscribe: {
          title: 'Subscribe to our newsletter',
          text: 'Receive our latest news and promotions in your inbox!'
        },

        copyright: 'Copyright © 2018 Toxin UI Kit. All rights reserved.',

        socials: {
          twitter: 'blank.link',
          facebook: 'blank.link',
          instagram: 'blank.link'
        }
      })

    .headers__item
      +footer({
        isSimple: true,
        description: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
        socials: {
          twitter: 'blank.link',
          facebook: 'blank.link',
          instagram: 'blank.link'
        }
      })