//- label - заголовок дропдауна

mixin dropdown-guests(label)
  .dropdown-guests
    label.dropdown-guests__label= label
      input(class="dropdown-guests__field" type="text" name="guests" placeholder="Сколько гостей" readonly)
