mixin dropdown-guests(options)
  .dropdown-guests
    label.dropdown-guests__label= options.label
      input(class="dropdown-guests__field" type="text" name="guests" placeholder="Сколько гостей" readonly)
