include ../input/input
include ../toggle/toggle
include ../button/button

mixin sign-up
  .sign-up
    h2.sign-up__title Регистрация аккаунта
    form(class="sign-up__form" action="blank.link" method="post")
      .sign-up__name-fields
        +input({type: "text", name: "first name", placeholder: "Имя", required: "required"})
        +input({type: "text", name: "last name", placeholder: "Фамилия", required: "required"})

      .sign-up__radios
        .sign-up__radio
          +input({type: "radio", name: "gender", text: "Мужчина", value: "male", checked: "checked"})
        .sign-up__radio
          +input({type: "radio", name: "gender", text: "Женщина", value: "female"})

      .sign-up__birthdate
        +input({type: "text", name: "date", label: "дата рождения", placeholder: "ДД.ММ.ГГГГ"})

      .sign-up__data
        +input({type: "email", name: "email", label: "данные для входа в сервис", placeholder: "Email", required: "required"})
        +input({type: "password", name: "password", placeholder: "Пароль", required: "required"})

      .sign-up__toggle
        +toggle({text: "Получать спецпредложения", name: "special offers"})

      .sign-up__button
        +button({type: "submit", style: "big", text: " перейти к оплате"})
    
    .sign-up__footer
      span.sign-up__footer-text Уже есть аккаунт на Toxin
      .sign-up__footer-button
        +button({type: "button", style: "bordered", text: "войти"}) 

    