//- options.signin(str) - текст кнопки логин
    options.signup(str) - текст кнопки регистрация
    options.isLogin(bool) - если true, отображает ссылку на профиль пользователя,
                            а если false - то кнопки login, register. По умолчанию false
    options.items(arr) - массив объектов - элементов меню, каждый объект принимает:
                         href - ссылка,
                         text - текст ссылки, 
                         isDropdown(bool) - является ли объект дропдауном, по умолчанию false
    options.user(obj) - объект принимает параметры для ссылки на профиль пользователя:
                        name - имя пользователя
                        href - ссылка на профиль

include ../button/button

mixin header(options)

  - const {items, user}  = options;
  - const signIn = options.signin ? options.signin : "login";
  - const signUp = options.signup? options.signup : "register";
  - const mod = options.isUikit ? " header__list_uikit" : ""

  .header
    .container
      a.header__logo(href="blank.link")
        img(src="assets/img/toxin-logo.svg" width="106" height="40" alt="Toxin логотип")

      nav.header__navigation
        ul(class="header__list"+mod)
          each item in items
            li(class= item.isDropdown ? "header__item header__item_dropdown" : "header__item")
              a(class="header__link"
                href= item.href || "blank.link")= item.text

        div(class= options.isLogin ? "header__auth header__auth_login" : "header__auth")
          if (options.isLogin)
            a.header__user(href= user.href)= user.name
          else
            .header__button.header__button_login
              +button({type: "button", style: "bordered", text: signIn})
            .header__button.header__button_registration
              +button({type: "button", style: "default", text: signUp})

