//- options.signin(obj) - объект кнопки логин. Принимает: 
                          text(str) - текст кнопки,
                          href(str) - ссылка. Если параметр не указан, то создается button
    options.signup(obj) - объект кнопки регистрация. Принимает те же параметры, что и signin
    options.isLogin(bool) - если true, отображает ссылку на профиль пользователя,
                            а если false - то кнопки login, register. По умолчанию false
    options.items(arr) - массив объектов - элементов меню, каждый объект принимает:
                         href - ссылка,
                         text - текст ссылки, 
                         isDropdown(bool) - является ли объект дропдауном, по умолчанию false
    options.user(obj) - объект принимает параметры для ссылки на профиль пользователя:
                        name - имя пользователя
                        href - ссылка на профиль

include ../button/button

mixin header(options)

  if !options
    - options = {}

  if !options.signin
    - options.signin = {}

  if !options.signup
    - options.signup = {}

  if !options.items
    - options.items = []


  - const {items, user, signin, signup}  = options;

  - const signIn = signin.text ? signin.text : 'login';
  - const signUp = signup.text ? signup.text : 'register';
  - const mod = options.isUikit ? ' header__list_uikit' : '';
  - const loginMod = options.isLogin ? ' header__item_logged-in' : '';


  header.header.js-header
    .header__container
      a.header__logo(href="index.html")
        img(src="assets/img/toxin-logo.svg" width="106" alt="логотип Toxin")

      nav.header__navigation
        ul(class="header__list js-header__list"+mod)
          each item in items
            li(class= item.isDropdown ? "header__item header__item_dropdown" : "header__item")
              a(class="header__link"
                href= item.href || "blank.link")= item.text
          li(class = "header__item header__item_auth"+loginMod)
            div(class= options.isLogin ? "header__auth header__auth_login" : "header__auth")
              if (options.isLogin)
                a.header__user(href= user.href)= user.name
              else
                .header__button.header__button_login.js-header__button_login
                  +button({type: "button", href: signin.href, style: "bordered", text: signIn})
                .header__button.header__button_registration.js-header__button_registration
                  +button({type: "button", href: signup.href, style: "default", text: signUp})
      
        .header__burger.js-header__burger
          .header__burger-line
          .header__burger-line
          .header__burger-line

