//- images(array) - массив объектов. Каждый объект принимает:
                    src(string) - ссылку на изображение
                    alt(string) - описание изображения

    Пример вызова: +gallery({src: 'link/to.file', alt: 'image description'})

mixin gallery(images)

  .gallery
    .gallery__big
      img(class="gallery__image" src= images[0].src alt= images[0].alt || "Фото номера")

    .gallery__small
      - for(let i = 1; i < images.length; i++)
        img(class="gallery__image" src= images[i].src alt= images[i].alt || "Фото номера")     