@import 'utils/libs.scss';
@import 'utils/vars.scss';
@import 'utils/mixins.scss';
@import 'utils/fonts.scss';
@import 'uikit.scss';
@import 'room.scss';
@import 'search.scss';

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $montserrat;
  font-size: 14px;
  min-height: 100%;
}

.page-main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
