@import '~/scss/utils/vars.scss';
@import '~/scss/utils/mixins.scss';

.rooms-card {
  @include card;
  min-height: 374px;
  background-color: #ffffff;
  font-size: 14px;

  &__title {
    @include card-title;
  }


  &__dropdowns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.286em;

    @media (max-width: 420px) {
      >.dropdown-date {
        max-width: 100%;
      }
    }


    > :nth-child(n):not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__button {
    @include big-button;
  }
}