include ../dropdown-date/dropdown-date
include ../dropdown/dropdown
include ../button/button

mixin rooms-card
  .rooms-card
    h2.rooms-card__title Найдём номера под ваши пожелания
    form(class="rooms-card__form" action="blank.link" method="post")
      .rooms-card__dropdowns
        +dropdown-date({label: "прибытие", name: "arriving"})
        +dropdown({label: "гости", placeholder: "Сколько гостей", items: ['взрослые', 'дети', 'младенцы']})
      .rooms-card__button
        +button({type: "submit", style: "big", text: "подобрать номер"})